/* Add this to project.css */
.project-section {
    display: flex;
    justify-content: center;
    padding: 20px;
   
}

.project {
    display: flex;
    align-items: center;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    width: 100%;
    padding: 30px;
    
    gap: 77px;
}

.project-details {
    padding: 20px;
    min-width: 500px;
}

.project-details h2 {
    color: #2a324c;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem 0 0;
}

.project-details h3 {
    color: #2a324c;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    width: 150px;
    margin: 2rem 0 0;
}

.project-details p {
    color: #364163;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .05rem;
    line-height: 1.6;
    margin: .5rem 0 0;
    background: white;
}

.project-buttons {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
}

.github-button {
    background-color: #333;
}

.live-button {
    background-color: #28a745;
}

.button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.project-image {
    width: 50%;
    height: auto;
    display: block;
    min-width: 450px;
}

@media (max-width: 1178px) {
    .project {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .project-details h2 {
        font-size: 2.4rem;
    }

    .project-details p {
        font-size: 1.3rem;
    }
}

@media (max-width: 650px) {
    .project-section {
        padding: 0;
    }

    .project-details {
        min-width: 0;
        width: auto;
    }

    .project-image {
        min-width: 250px;
    }
}

