/* Home Component Styles */
.home-container{
  display: flex;
  /* background-color: #FFBD59; */
  height: 100vh;
  justify-content: center;
  /* align-items: center; */
  background-color: #181C2A;
  opacity: 1;
  background-image: radial-gradient(#2c3349 1.25px, #181C2A 1.25px);
  background-size: 25px 25px;
  
}
.home {
    display: flex;
    justify-content: center;
    
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
  }
  
 
  .name {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
  }
  
  .title {
    font-size: 1.5rem;
    /* margin-top: -7rem; */
    color: #ffffff;
    font-weight: bold;
  }
  .portfolio {
    font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  /* padding-bottom: 100px; */
  color: #FBEAEB;
  opacity: .9;
  }

  @media(max-width:500px){
    .portfolio h1{
      font-size: 3.2rem;
    }
    .title{
      font-size: 4vw;
      margin-top:23px ;
      font-weight: 200;
      display: flex;
      flex-direction: column;
    }
    .home-container{
      max-height: 80vh;
    }
    .portfolio{
      padding-bottom: 0;
    }
  }