
.side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 19px;
}

.side-nav li {
  margin: 9px 0;
}

.side-nav li a {
  height: 127px;
  flex-shrink: 0;
  writing-mode: vertical-lr;
  font-weight: 200;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 36px 0;
  justify-content: center;
  opacity: .5;
  border-right: 1px solid transparent;
  transition: all .1s;
  width: 100%;
}

.side-nav li.active a{
  background: rgb(26, 23, 6);
  border-right: 4px solid #109d6b;
  opacity: 1;
  width: 100%;
}
/* @media(max-width:481px){
  .side-nav{
    display: none;

  }
  .side-nav.open{
    display: block;
  }
 } */