.footer-container{
    background-color: #181c2a;
    padding: 82px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-container {
  /* border: 1px solid #ccc; */
  padding: 20px;
  border-radius: 5px;
  display: flex;
    justify-content: center;
    flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.contact-container h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 6vw;
  font-weight: 900;
  font-family: "Rubik Mono One", monospace;
  color: antiquewhite;
}

.contact-container p {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: white;
  opacity: .7;
  text-align: center;
}
.s-l{
  color: #0aff9d;
  text-decoration: none;
}
.s-l:hover{
  text-decoration: underline;
  color: rgb(52, 172, 98);
}
.email-link {
  display: inline-flex;
  align-items: center;
  font-size: 1.2em;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
  transition: color 0.3s;
}

.email-link .icon {
  margin-right: 10px;
  color: white;
}

.email-link:hover {
  color: #0aff9d;
}


  .tag{
    text-align: center;
    color: rgb(155, 153, 153);
    padding-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
    
  }

  @media(max-width:560px){
    .contact-container h2{
      font-size: 3rem;
    }
    .footer-container{
      height: 150vh;
    }
  }